.app {
  font-family: 'Archivo', sans-serif;
}

@media (max-width: 1080px) {
  #page {
    width: 95%;
    margin: 2.5% 2.5%;
  }
}

.page {
  border-bottom: 1px solid white;
  width: 90vw !important;
  display: block;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 5px;
}

.page .pageLink {
  position: relative;
  top: -75px;
}

#pageContainer {
  flex-direction: column;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 